@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

/*====== DEFAULT STYLES =======*/
body {
	font-family: 'Roboto', sans-serif;
	background: RGB(1,147,177);
}
body.bg-orange {
	background: #eb5d40;
}
img {
	max-width: 100%;
	height: auto;
}
.container {
	position: relative;
}
.container-fluid {
	width: 1500px;
	max-width: 100%;
	position: relative;
}


/*====== HEADER STYLES =======*/
#top-nav {
	padding-left: 0;
	padding-right: 0;
}
.navbar-light .navbar-toggler {
	border: 0;
	color: RGB(1,147,177);
	outline: none;
	padding: 18px 30px;
}
.navbar-light .navbar-toggler:hover,
.navbar-light .navbar-toggler.active
 {
	background: RGB(1,147,177);
	color: #FFF;
	border-radius: 0;
}
.navbar-light .container, .navbar-light .container{
	position: relative;
}
.navbar-light .navbar-toggler i {
	font-size: 30px;
}	
#navbarNavDropdown {
	background: RGB(1,147,177);
	color: #FFF;
	max-width: 300px!important;
	position: absolute;
	left: 15px;
	top: 38px;
	top: 60px;
	padding: 15px 0;
	z-index: 9999;
}
#navbarNavDropdown li a{
	color: #FFF;
	text-decoration: none;
	padding: 10px 20px;
	display: block;
}
#navbarNavDropdown li a:hover {
	background-color: rgb(235, 93, 64);
}
.navbar-main #navbarNavDropdown { 
	left: 0;
}
.navbar-nav li {
	position: relative;
}
.navbar-nav li ul {
	position: absolute;
	width: 300px;
	right: -300px;
	background: RGB(1,147,177);
	z-index: 50;
	top: -15px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding: 15px 0;
	transition: 0.25s all;
	opacity: 0;
}
.navbar-nav li:hover ul {
	opacity: 1;
}
#header {
	position: fixed;
	top: 0;
	width: 100%;
	background: rgb(232,237,241);
	z-index: 100;
}
.navbar-main {
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar-main > li {
	float: left;
	width: 11%;
}
.navbar-main li.logo {
	width: 23%;
}
li.logo img {
	width: 95%;
	height: 95%;
}
.navbar-main > li > a {
	font-weight: bold;
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	color: #000;
	text-decoration: none;
	display: block;
	padding: 15px 10px;
	height: 70px;
}
.navbar-main > li a:hover, .navbar-main > li.active a {
	color: #FFF;
	background: RGB(1,147,177);
}
.navbar-main > li:nth-child(3) a:hover, .navbar-main > li:nth-child(3).active a {
	background: #eb5d40;
}
.navbar-main li.logo a {
	display: inline-block;
	background: transparent!important;
	padding: 0;
	height: auto;
}

.submenu {
	position: absolute;
	left: 0;
	right: 0;
	display: block;
	background: red;
	background: RGB(1,147,177);
	list-style: none;
	margin: 0;
	padding: 0;
	height: 200px;
	padding: 15px 0px;
	display: none;
	transition: 0.25s all;
	opacity: 0;
	height: auto;
	padding-bottom: 15px;
	border: 0;
}
.gevaren .submenu {
	margin-left: 15px;
}
li:hover .submenu {
	display: block;
	opacity: 1;
}
.navbar-main li .submenu a {
	display: block;
	text-decoration: none;
	padding: 15px 30px;
	padding: 10px 30px;
	display: block;
	font-weight: bold;
	background: transparent;
	color: #FFF;
}
.navbar-main li .submenu a:hover {
	/*background-color: rgb(235, 93, 64);*/
	text-decoration: underline;
}
ul.fixed-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	z-index: 9999;
	right: 15px;
	top: 80px;
}
.fixed-menu li {
	text-align: right;
	line-height: 1.3;
}
.fixed-menu a {
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
}
li.logo img{
	width: 269px;
	height: auto;
	position: relative;
	top: 2px;
}

/*----- Responsive Styles ------*/
@media screen and (max-width: 1300px) {
	.navbar-main > li:nth-child(8){
		width: 10%;
	}
	li.logo img{
		position: absolute;
		right: 15px;
		top: 5px;
		width: 250px;
		height: auto;
	}
}
@media screen and (max-width: 1075px) {
	li.logo img{
		top: 8px;
		width: 230px;
	}
}
@media screen and (max-width: 991px) {
	li.logo img{
		top: 12px;
		width: 200px;
	}
}
@media screen and (max-width: 991px) {
	li.logo img{
		top: 17px;
		width: 167px;
	}
}
@media screen and (max-width: 991px) and (min-width: 768px) {
	.navbar-main > li > a {
		font-size: 12px;
		padding: 15px 2px;
	}
}
@media screen and (max-width: 767px) {
	.navbar-main > li {
		display: none;
	}
	.navbar-main li.mobile-nav {
		display: block;
		width: 50%;
	}
	.navbar-main  li.logo{
		display: block;
		width: 50%;
	}
	#header .navbar-main {
		margin-left: -15px;
	}
	#header #navbarNavDropdown {
		left: 15px;
	}
	li.logo img{
		position: absolute;
		right: 15px;
		width: 250px;
		height: auto;
		margin-top: -5px;
		margin-top: -4px;
	}
	ul.fixed-menu { 
		top: 90px;
	}
}
@media screen and (min-width: 768px) {
	.navbar-main li.mobile-nav {
		display: none;
	}
}
@media screen and (max-width: 555px) {
	.fixed-menu {
		display: none;
		display: block;
	}
}
/*@media screen and (max-width: 479px) {*/
@media screen and (max-width: 767px) {
	.navbar-nav {
		min-width: 300px;
	}
	.navbar-nav li ul {
		position: relative;
		opacity: 1;
		right: 0;
		left: 0;
		top: 0;
		display: none;
	}
	.navbar-nav li.active ul {
		display: block;
	}
	.navbar-nav li.nav-has-children:after {
		content: "\f078";
		font: normal normal normal 14px/1 FontAwesome;
		color: #FFF;
		position: absolute;
		right: 15px;
		top: 15px;
		font-size: 14px;
	}
	.navbar-nav li.active.nav-has-children:after {
		content: "\f077";
	}
	li.logo img{
		position: absolute;
		right: 15px;
		width: 200px;
		height: auto;
		margin-top: -5px;
		margin-top: 5px;
	}
}	
/*@media screen and (min-width: 480px) {*/
@media screen and (min-width: 768px){
	.navbar-nav li ul {
		display: none;
	}
	.navbar-nav li:hover ul {
		display: block;
	}
}

/*====== MAIN STYLES =======*/
.main-logo {
	clear: both;
}
.main-logo img {
	display: block;
	margin: auto;
	padding: 150px 0;
	padding: 100px 0;
}

.report-here {
	width: 76px;
	height: 76px;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	color: #FFF;
	float: right;
	background: #eb5d40;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.05;
	padding-top: 12px;
	padding-top: 13px;
	margin-bottom: 10px;
	padding-top: 24px;
	font-size: 24px;
	padding-left: 6px;
	padding-right: 6px;
	position: fixed;
	bottom: 50px;
	right: 0;
	right: 20px;
	z-index: 999;
}
.report-here.report-here-intro {
	width: 76px;
	height: 76px;
	border-radius: 50%;
	color: #FFF;
	float: right;
	background: #eb5d40;
	text-align: center;
	font-weight: bold;
	font-size: 15px;
	line-height: 1.1;
	padding-top: 12px;
	padding-top: 13px;
	margin-bottom: 10px;
	padding-left: 0;
	padding-right: 0;
}
.bg-orange .report-here {
	background: RGB(1,147,177);
}
.report-here:hover {
	opacity: 0.85;
}
.report-here a {
	text-decoration: none;
	color: #FFF;
}
.report-here span {
	font-size: 15px;
	position: relative;
	top: -5px;
}
.report-here.report-here-intro span {
	font-size: 11px;
	top: 0;
}
.bottom-news {
	clear: both;
	width: 100%;
	margin: auto;
	margin-top: 15px;
	margin-bottom: 15px;
	overflow: hidden;
	position: fixed;
	bottom: 0px;
	left: 0;
	z-index: 998;
	width: 97%;
	width: 100%;
	
}
.bottom-news a{
	text-decoration: none;
}
.bottom-news p {
	overflow: hidden;
	width: 90%;
	width: 100%;
	margin: auto;
	padding: 7px 5px 5px 5px;
	background: #FFF;
	background: #e8edf1;
	color: RGB(1,147,177);
	text-align: center;
	line-height: 1.2;
	width: 96%;
	margin: auto;
}
.marquee {
  display: inline-block;
  white-space: nowrap;
/*   animation: scrollLeft 38s linear infinite; */
  padding-left: 101%;
}

.marquee:hover {
   animation-play-state: paused
}

@keyframes scrollLeft {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%)
  }
}

.main-content {
	background: RGB(1,147,177);
	clear: both;
	margin-top: 80px;
}
.bg-orange .main-content {
	background: #eb5d40;
}

.div-accessories {
	margin-top: 500px;
}

main {
	color: #FFF;
	padding-bottom: 200px;
}
#hoe-herken-ik-een {
	padding-top: 40px;
	padding-top: 60px;
}
#hoe-herken-ik-een h1 {
	font-weight: 300;
	font-size: 50px;
}
main h1 {
	font-weight: 300;
}
#hoe-herken-ik-een img {
	max-width: 100%;
	height: auto;
}
#hoe-herken-ik-een h3 {
	font-weight: bold;
	font-size: 22px;
}
#hoe-herken-ik-een p {
	margin-top: 20px;
}
#drugslocatie {
	padding-top: 40px;
	padding-top: 60px;
	/*padding-bottom: 250px;*/
}
#drugslocatie h4 {
	font-weight: bold;
	width: 850px;
	max-width: 100%;
}
#drugslocatie p {
	padding-left: 13px;
	font-size: 24px;
	width: 850px;
	max-width: 100%;
	line-height: 1.5;
}
#gevaren {
	padding: 40px 0 0 0;
	padding-top: 60px;
	/*width: 1000px;
	max-width: 100%;*/
	margin: auto;
	
}
#gevaren h1 {
	font-size: 52px;
	margin-bottom: 40px;
}
#gevaren img {
	width: 95%;
	height: auto;
}
#gevaren h4 {
	margin-left: 14px;
	font-weight: bold;
	width: 350px;
	max-width: 100%;
	line-height: 1.3;
}
#gevaren h4 span {
	position: absolute;
	left: 10px;
}
#gevaren p {
	width: 380px;
	max-width: 100%;
	margin-top: 20px;
	line-height: 1.7;
}

#henneplantage {
	padding: 40px 0 0 0;
	padding-top: 60px;
	/*width: 1000px;*/
	max-width: 100%;
	margin: auto;
}
#henneplantage h1{
	font-size: 52px;
	margin-bottom: 40px;
}
#henneplantage img{
	width: 90%;
	height: auto;
}
#henneplantage h4{
	margin-left: 14px;
	font-weight: bold;
	font-size: 24px;
	width: 385px;
	max-width: 100%;
	line-height: 1.3;
}
#henneplantage h4 span{
	position: absolute;
	left: 10px;
}
#henneplantage p{
	width: 380px;
	max-width: 100%;
	margin-top: 20px;
	line-height: 1.7;
}
#hoe-herken-ik-een.drugslab h1 {
	font-size: 60px;
}
#hoe-herken-ik-een.drugslab h4 {
	margin-left: 14px;
	font-weight: bold;
	font-size: 20px;
	width: 385px;
	max-width: 100%;
	line-height: 1.5;
	padding-bottom: 10px;
}
#hoe-herken-ik-een.drugslab h4 span {
	position: absolute;
	left: 10px;
}	

#synthetische {
	padding: 40px 0 0 0;
	padding-top: 60px;
}
#synthetische h1 {
	font-size: 55px;
	margin-bottom: 20px;
}
#synthetische h2 {
	font-size: 28px;
	font-weight: bold;
	padding-left: 80px;
}
#synthetische h4 {
	margin-left: 14px;
	font-weight: bold;
	font-size: 20px;
	width: 385px;
	max-width: 100%;
	line-height: 1.5;
	padding-bottom: 10px;
}
#synthetische h4 span {
	position: absolute;
	left: 10px;
}
#synthetische img {
	width: 86%;
	height: auto;
	/*margin-top: -80px;
	padding-left: 50px;*/
	width: 100%;
	display: block;
	margin: auto;
	padding: 10px 0 50px 0;
}

#persberichten {
	padding: 30px 0 0 0;
	padding-top: 60px;
}
#persberichten h1 {
	font-size: 50px;
	margin: 0 0 30px 0;
}
#persberichten img {
	display: block;
	margin: auto;
	margin-bottom: 25px;
}
#persberichten h4 {
	font-size: 22px;
	font-weight: bold;
	position: relative;
	padding-left: 30px;
	margin-left: -12px;
	width: 600px;
	max-width: 100%;
}
#persberichten h3 {
	font-size: 25px;
	font-weight: bold;
	width: 600px;
	max-width: 100%;
}
#persberichten h4 span {
	position: absolute;
	left: 10px; 
}
#persberichten p {
	font-size: 14px;
	width: 600px;
	max-width: 100%;
}
a.read-more {
	display: block;
	color: #FFF;
	font-weight: bold;
	font-size: 14px;
	text-decoration: underline;
	margin-bottom: 50px;
}
a.read-more:hover {
	text-decoration: none;
}
.peris-box {
	border-bottom: 1px dotted #FFF;
	margin-bottom: 50px;
}

#interviews {
	
}
#interviews h2 {
	margin: 0;
	padding-top: 30px;
	margin-bottom: 30px;
}
.col-1 {
	margin-bottom: 50px;
}
#interviews img {
	width: 90%;
	margin-bottom: 30px;
}
#interviews h3 {
	font-weight: bold;
	font-size: 24px;
}

#drugsalert {
	/*padding-bottom: 250px;*/
	padding-top: 10px;
	padding-top: 40px;
}
.list {
	margin: 0;
	padding: 0;
	margin-left: 20px;
	padding-top: 35px;
}
.list li {
	padding-left: 20px;
	font-weight: bold;
	font-size: 20px;
	margin: 0;
	line-height: 1.4;
}
.list li a {
	color: #FFF;
}
.list li a:hover {
	text-decoration: underline;
}

#contact {
	padding-top: 50px;
}
#contact form {
	width: 600px;
	max-width: 100%;
	margin: 0;
}
#contact form p {
	margin-top: 20px;
}
#contact input, #contact textarea {
	width: 100%;
	display: block;
	padding: 10px 15px;
	border: 0;
	border-radius: 0;
}
#contact textarea {
	height: 100px;
}
#contact input#submit {
	margin: auto;
	border: 0;
	background: #eb5d40;
	color: #FFF;
	font-weight: bold;
	display: block;
	margin-top: 35px;
	text-transform: uppercase;
	width: 160px;
	height: 50px;
	line-height: 1;
	max-width: 100%;
}
#contact input[type="submit"]:hover {
	opacity: 0.85;
}
#contact input:focus,
#contact textarea:focus
 {
	outline: 1px solid #000;
}

#search-results {
	padding-top: 50px;
}
#search-results ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
#search-results li {
	margin: 50px 0;
}
#search-results li a {
	color: #FFF;
	font-weight: bold;
	font-size: 22px;
}
#search-results li p {
	font-size: 14px;
	padding-top: 5px;
}

#pers {
	padding-top: 50px;
}

.searchbox {
	position: absolute;
	right: 100px;
	top: 95px;
	width: 300px;
	z-index: 999;
	display: none;
}
.search-box-intro {
	right: auto;
	left: 300px;
	top: 310px;
}
.searchbox ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
.searchbox ::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
.searchbox :-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
.searchbox :-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.searchbox input {
	border: 0;
	outline: 0;
	width: 100%;
	border-radius: 0;
	font-weight: bold;
	font-size: 15px;
	padding: 10px 15px;
}
.searchbox input:focus {
	outline: 1px solid #000;
}
.searchbox input[type="submit"] {
	display: none;
}

#melden {
	clear: both;
	padding: 50px 0 0 0;
}
a.img-anchor:hover img{
	opacity: 0.85;
}
.img-anchor img {
	display: block;
	margin: 5px 0 30px 0;
	width: 350px;
	max-width: 100%;
}

/*------ RESPONSIVE STYLES -------*/
@media screen and (min-width: 1600px) {
	.report-here-container {
		max-width: inherit;
		width: inherit;
	}
	.report-here {
		max-width: inherit;
		position: static;
	}
	.bottom-news {
		width: inherit;
		right: auto;
		left: auto;
		position: static;
	}
	.container-fixed {
		position: fixed;
		right: 0;
		left: auto;
		right: auto;
		bottom: 20px;
		width: inherit;
		max-width: inherit;
	}
	
}
@media screen and (max-width: 767px) {
	#interviews .col-1 { 
		width: 100%!important;
		max-width: 100%!important;
		clear: both;
		display: block!important;
		flex: 1!important;
	}
	.fixed-menu {
		display: none;
	}
	.searchbox { 
		width: 200px;
	}
	#gevaren img {
		width: 100%;
		margin-bottom: 50px;
	}
	#gevaren h1 ,
	#henneplantage h1,
	#hoe-herken-ik-een.drugslab h1 
	{
		font-size: 44px;
	}
	#henneplantage img{ 
		width: 100%;
		margin-bottom: 50px;
	}
	#synthetische img {
		width: 100%;
		margin: 50px 0;
		padding-left: 0;
	}
	#synthetische h2 {
		padding-left: 0;
		margin-bottom: 10px;
	}
	#interviews img {
		width: 100%;
	}
	ul.fixed-menu { 
		top: 85px;
	}
	main h4, main p, main h3, main h2, main h1, main h5 {
		width: 100%!important;
		max-width: 100%!important;
	}	
	.searchbox {
		right: 30px;
		top: 392px;
		left: auto;
		z-index: 999999;
	}
	.search-box-intro {
		top: 310px;
	}
}
@media screen and (min-width: 992px) {
	#hoe-herken-ik-een img {
		width: 90%;
	}
	#hoe-herken-ik-een h3,
	#hoe-herken-ik-een p 
	{
		width: 350px;
		max-width: 100%;
	}
	#hoe-herken-ik-een .col-lg-3{
		position: relative;
		left: -5%;
	}
}